<div class="row" ng-controller="resourceCtrl" ng-init="init()">
	<div class="top">
		<h4 class="left">{{activeCourse.course_name}}({{activeCourse.course_code}}) {{activeCourseTime}}</h4>
		<!-- 课程课表begin -->

		<div class="row">
		    <div class="box col-md-8 lg-4-reset">
		        <div class="box-inner content-box">
					<div class="btn-group" role="group" aria-label="..." style="width:100%;background-color:#eee;">
					  <button type="button" class="btn btn-hover" style="width:17%;height:34px;padding:0px"><a ui-sref="attendance" style="padding: 8px 23px;">考勤</button></a>
					  <button type="button" class="btn btn-hover" style="width:17%;height:34px;padding:0px"><a ui-sref="question" style="padding: 8px 23px;" class="body-color">提问</a></button>
					  <button type="button" class="btn btn-hover" style="width:17%;height:34px;padding:0px"><a ui-sref="focus" style="padding: 8px 23px;">专注</a></button>
					  <button type="button" class="btn btn-hover" style="width:16%;height:34px;padding:0px"><a ui-sref="group" style="padding: 8px 23px;" class="body-color">组别</a></button>
					  <button type="button" class="btn btn-hover" style="width:17%;height:34px;padding:0px"><a ui-sref="homework" style="padding: 8px 12px;">作业</a></button>
					  <button type="button" class="btn btn-hover choosen" style="width:17%;height:34px;padding:0px"><a ui-sref="resource" style="padding: 8px 12px;" class="body-color">资源中心</a></button>
					</div>
					
					<!-- 备课中心-资源中心begin -->
					<div class="box-content center fix-height">
		            	<div id="resourceList" style="height:300px;overflow-y:auto;overflow-x:hidden;padding:5px;"><br>
		            		<div class="row reset-row" ng-repeat="r in resourceList" style="border:solid 1px #ddd; margin-bottom:15px; padding:10px 0px;">
			                    <div class="col-md-1" style="padding-right: 0px;">
			                        <i class="glyphicon glyphicon-file" style="font-size: 30px;color:#169b70;"></i>
			                    </div>
			                    <div class="col-md-9">
			                        <p class="left" style="margin-top:10px;">{{r.resource_name}}</p>
			                        <p class="left" style="margin-top:10px;font-size:12px;">{{r.resource_upload_date}}</p>
			                    </div>
			                    <div class="col-md-1">
			                    	<div class="left">
				                        <a href="{{r.resource_download_url}}" class="pointer" style="margin-left:-5px;" ng-click="updateResource()"><i class="glyphicon glyphicon-save resource-icon" ></i></a>
				                        <label>{{r.resource_download_count}}</label>
				                    </div>
			                    </div>
			                    <div class="col-md-1">
			                    	<div class="left">
			                    		<a ng-click="deleteConform(r)" class="pointer" style="margin-left:-5px;"><i class="glyphicon glyphicon-trash resource-icon"></i></a>
			                        	<!-- <label>{{r.resource_like_count}}</label> -->
			                    	</div>
			                    </div>
		                    </div>
		            	</div>
		                <!-- <input type="file" name=""> -->
                    	<!-- <div id="uploadResource"></div> -->
                    	<form name="form5" action="/" method="post" enctype="multipart/form-data" class="center">
                    		<a href="javascript:;" class="a-upload course-btn">
							    <input type="file" id="file_AjaxFile" name="file_AjaxFile">选择文件
							</a>
	                    	<a class="btn btn-default course-btn" ng-click="fileUpload()">上传 <i class="glyphicon glyphicon-open icon-color pointer"></i></a>

						</form>
                    	<!-- <div class="webuploader-pick pointer" style="">
		          			上传资源 <i class="glyphicon glyphicon-open icon-color pointer"></i>
                        	<input class="pointer" style="position:absolute;width:100px;height:40px;top:0px;left:0px; opacity: 0;z-index:1000;" type="file" ng-file-select name="" id="file_AjaxFile" multiple/>
		          		</div> -->
		            </div>

					<!-- 备课中心-资源中心end -->
		        </div>
		    </div>
		    <div class="box col-md-4 lg-4-reset">
		        <div class="box-inner">
		            <div class="title-top">
		                <span class="title-icon"><i class="glyphicon glyphicon-bullhorn"></i> </span>
		                <span class="title-content pull-left">班级公告</span>
		                <a href="javascript:;" class="btn btn-round btn-default" ng-click="showNotice()"><i class="glyphicon glyphicon-plus"></i></a>
		            </div>
		            <table class="table table-striped table-bordered table-reset">
		            	<tr>
		            		<td>
		            			<span><strong>20</strong></span><br>
		            			<span>4月</span><br>
		            			<span>2017</span>
		            		</td>
		            		<td> 今日有新作业公布，请各位同学及时查看！
		            		</td>
		            	</tr>
		            	<tr>
		            		<td>
		            			<span><strong>19</strong></span><br>
		            			<span>4月</span><br>
		            			<span>2017</span>
		            		</td>
		            		<td> 今日有新作业公布，请各位同学及时查看！
		            		</td>
		            	</tr>
					</table>
		        </div>
		        <br>
		        <div class="box-inner content-box">
		            <div class="title-top">
		                <span class="title-icon"><i class="glyphicon glyphicon-education"></i> </span>
		                <span class="title-content pull-left">学生列表</span>
		            </div>
		            <div class="student-box">
			            <div class="student-list">
			                <p ng-repeat="s in studentList">{{s.student_name}}</p>
			            </div>
			        </div>
		        </div>
		    </div>
		</div><!--/row-->

		<!-- 课程列表end -->
	</div>

	<!-- 资源删除确认弹出框begin -->
	<div class="bootbox modal fade in" tabindex="-1" role="dialog" aria-hidden="false" id="modal-deleteConform">
		<div class="modal-dialog" style="">
			<div class="modal-content no-radus" >
				<div class="height-8">
				</div>
				<div class="modal-body">
					<div class="add-content">
						<p>确认要删除{{}}此项资源吗？</p>
					</div>
					
				</div>
				<div class="modal-footer clearfix">
					<p class="center">
	                    <button type="submit" class="btn btn-default course-btn" data-dismiss="modal" ng-click="deleteResource()">删除</button>
	                    <button type="submit" class="btn btn-default course-btn" data-dismiss="modal">取消</button>
	                </p>
				</div>
			</div>
		</div>
	</div>
	<!-- 资源删除确认弹出框end -->

</div>